<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Multipass</title>
  </head>
  <body>
    <div id="app"></div>
    <h1>Anyone else want to negotiate?</h1>
    <h3>Boooooooom ba da booom</h3>
    <script src="app.js"></script>
    <!--
      this is the compiled main.js
      also change the served static to temp
    -->
  </body>
</html>
